<h1>Art Labels</h1>

<ul>
  <% @art_labels.each do |label| %>
    <li> Name: <%= label.name %><br>
    Brewery: <%= label.brewery %></li>
    <% if current_user && current_user.admin? %>
     <%= button_to 'Delete', label, method: :delete %>
   <% end %>
  <% end %>
</ul>

<%= link_to "Add New Art Label", new_art_label_path %>
