<h1>Art Labels</h1>

<ul>
  <% @art_labels.each do |label| %>
    <li> Name: <%= link_to label.name, art_label_path(label) %><br>
    Brewery: <%= label.brewery %></li>
  <% end %>
</ul>

<%= link_to "Add New Art Label", new_art_label_path %>
