/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  color: #FFFFFF;
  font-family: 'Forum', cursive;
  font-size: 20px;
  margin: 0 auto;
  background: #BF6824;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
 .tile {
  display: inline-block;
  height: 400px;
  width: 400px;
  background: #3C3C3C;
  border-width: 5px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 25px;
  padding: 20px;
  margin: 25px;
}

.tile:hover {
  background: #3C3C3C;
}

.container {
  background: #9a342d;
  border-width: 5px;
  border-style: solid;
  border-color: #3C3C3C;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
}

.top-bar {
  font-size: 22px;
  background-color: #3C3C3C;
  padding: 25px;
  border-bottom: 2px #FFFFFF solid;
}

.top-bar-section {
  float: right;
  display: block;
  margin: -5px;
  background-color: #3C3C3C !important;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.top-bar-title {
  display: block;
  float: left;
  margin-top: -15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.field {
  width: 400px;
}

.button {
  background-color: grey;
}

.hidden-button {
  visibility: hidden;
}

.left {
  margin-left: 0;
}

.cursive {
  font-family: 'Princess Sofia', cursive;
  font-size: 24px;
}

.show-size {
  height: 400px;
}

.tile-size {
  height: 250px;
}

.profile-size {
  height: 40px;
  margin: 10px;
}

.fa {
  margin-right: 15px;
  margin-bottom: 10px;
}

.short-field {
  width: 600px;
}

.white-text {
  color: #ffffff;
  font-size: 20px;
}

.form-tile {
  width: 650px;
  background-color: #3C3C3C;
  border-width: 5px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 25px;
  padding: 20px;
  margin: auto;
}

.shorter-field {
  width: 300px;
}
